@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Hylian Serif';
  src: url('/assets/styles/HyliaSerifBeta-Regular.otf')
}

#title {
  font-family: 'Hylian Serif';
}

.hiddenFromStart {
  display: none;
}

.inline {
  display: inline;
}